body {
  background-color: #dadada;
  font-size: 10px;
  margin: 1% 0;
  padding: 20px;
  width: 100%;
}

.container {
  max-width: 80%;
  margin: auto;
}

.preview {
  height: 200px;
  float: left;
  width: 22%;
  text-align: left;
  margin: 1%;
}

.baku {
  background-image: url('../images/baku.jpg');
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
}

.rome {
  background-image: url('../images/rome.jpg');
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
}

.madrid {
  background-image: url('../images/madrid.jpg');
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;

}

.london {
  background-image: url('../images/london.png');
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1%;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  font-family: sans-serif ;
  text-transform: uppercase;
  text-align: center;
}

.preview h1 {
  font-size: 2em;
  margin: 1%;
  font-family: serif ;
  text-align: left;
  padding-top: 5%;
  padding-left: 5%;
  text-transform: none;
}

@media screen and (max-width: 881px){
  .preview {
    height: 200px;
    float: left;
    width: 45%;
    text-align: left;
    margin: 1%;
  }
}
@media screen and (min-width: 882px){
  .preview {
    height: 200px;
    float: left;
    width: 22%;
    text-align: left;
    margin: 1%;
  }
}
@media screen and (max-width: 588px){
  .preview {
    height: 200px;
    float: left;
    width: 100%;
    text-align: left;
    margin: 1%;
  }
}
